[submodule "frontend"]
	path = frontend
	url = https://github.com/ELKIN-DAINOVER-JIMENEZ-GOMEZ/Gestor-de-citas-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/ELKIN-DAINOVER-JIMENEZ-GOMEZ/Gestor-de-citas-backend.git
